.nav-item {
  position: relative;
  margin-right: 20px;
}

.nav-item .active-indicator {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
  display: none;
}

.nav-item.active .active-indicator {
  display: block;
}

.nav-item:not(.active) .nav-link {
  color: #485260;
}

.nav-item.active .nav-link {
  color: #000000;
}

.nav-tabs .nav-item .nav-link {
  cursor: pointer;
}






//table
.coffee-table {
  width: 100%;
  border-collapse: collapse;
}

.coffee-table th,
.coffee-table td {
  border: none;
  padding: 0.5rem;
  text-align: left;
  position: relative;
}

.coffee-table th.intro {
  text-align: left;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.coffee-table th {
  border-top: 1px solid black;
}

.coffee-table td {
  color: #485260;
}