<div class="container">

    <div class="d-flex">
        <div class="intro padded-top-1 padded-bottom-1">THE COURSE ALSO INCLUDES:</div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <table class="table table-bordered">
            <tbody>
                <tr *ngFor="let item of items" class="row">
                    <td class="d-flex align-items-center col-xs-12 col-sm-12 col-md-2 col-lg-2 icon">
                        <fa-icon [icon]="item.icon"
                            [ngClass]="{'check-icon': item.icon === faCheck, 'times-icon': item.icon === faTimes}"></fa-icon>
                    </td>
                    <td class="minion d-flex align-items-center col-xs-12 col-sm-12 col-md-10 col-lg-10 lefty">
                        {{ item.text }}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>