<div class="shape-divider-container">

  <div class="content banner-pad d-flex flex-column justify-content-center align-items-center">

    <div class="d-flex justify-content-center align-items-center stars pt-5rem">
      <fa-icon class="p-3" [icon]="faStar"></fa-icon>
      <fa-icon class="p-3" [icon]="faStar"></fa-icon>
      <fa-icon class="p-3" [icon]="faStar"></fa-icon>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <div class="triangle-divider"></div>
      <h6 class="minion text-white text-center mb-0 pr-3 padd-rl-3">Intensive program barista training</h6>
      <div class="triangle-divider-inverted"></div>
    </div>

    <div class="d-flex justify-content-center align-items-center p-5">
      <h1 class="mb-0 intro-rust text-white text-center">Barista Training in <span class="highlight">Amsterdam</span>
      </h1>
    </div>


    <div class="d-flex flex-column justify-content-center align-items-center pb-3">

      <h5 class="minion text-center text-white">On the basis of the company largest coffee roasters</h5>

      <div class="d-flex flex-row justify-content-center align-items-center p-3">
        <div class="triangle-divider"></div>
        <div class="orange-point m-1"></div>
        <div class="triangle-divider-inverted"></div>
      </div>

    </div>

    <div class="d-flex justify-content-center align-items-center pt-3">
      <a href="#coffeeProgram" class="btn btn-outline-light rounded-circle p-3">
        <fa-icon class="h1" [icon]="faChevronDown"></fa-icon>
      </a>
    </div>

  </div>

  <div class="d-flex align-items-end justify-content-end">
    <div class="image col-2">
      <img src="../../../assets/granola.png" class="img-fluid" alt="granola">
    </div>
  </div>

</div>