<div class="d-flex flex-column justify-content-center align-items-center">

    <h1 class="intro-rust mb-0">TESTIMONIALS</h1>

    <h6 class="minion p-5 mb-0">
        We have enough patience to teach you the art of coffee
    </h6>

    <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="d-flex flex-column align-items-center align-items-center">
                <img [src]="product.url" [alt]="product.name" class="border-round w-25 p-4" />
                <h5 class="mb-0 intro p-3">
                    {{ product.name }}
                </h5>
                <h6 class="minion col-4 p-4 text-center">
                    {{ product.info }}
                </h6>
            </div>
        </ng-template>
    </p-carousel>

</div>