<header id="header" class="header">
  <app-menu></app-menu>
  <app-header></app-header>
</header>

<main id="main" class="main">

  <section id="banner" class="banner">
    <app-banner></app-banner>
  </section>

  <section id="coffeeProgram" class="coffeeProgram pt-5rem">
    <app-program></app-program>
  </section>

  <section id="gallery" class="gallery">

    <div class="d-flex align-items-start justify-content-start">
      <div class="image col-2">
        <img src="../../../assets/granola2.png" class="img-fluid" alt="granola">
      </div>
    </div>

    <app-gallery></app-gallery>

  </section>

  <section id="testimonials" class="testimonials">
    <app-testimonials></app-testimonials>
  </section>

  <section class="ourpartners">
    <app-ourpartners></app-ourpartners>
  </section>

  <section class="questions">
    <app-questions></app-questions>
  </section>

  <footer id="footer" class="footer">
    <div class="footer-with-divider">
      <img src="../assets/masks/mask-info-up.png" class="img-fluid" >
    </div>
    <app-info></app-info>
  </footer>

</main>