.header {
  overflow: hidden;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.banner {
  overflow: hidden;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.coffeeProgram {
  overflow: hidden;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom right;
  // background-image: url('../assets/wood-coffee-beans-coffee.png');
  background: linear-gradient(to bottom, #f6f6f6, #f7f7f7);
}

.gallery {
  background-image: url('../assets/background-gallery.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.testimonials {
  padding-bottom: 5rem;
  padding-top: 5rem;
}


.questions {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to bottom, #f1f1f1, #f6f7f7);
}

.ourpartners {
  background-color: #e4e4e4;
  padding-bottom: 5rem;
  padding-top: 5rem;


}


.footer {
  background-image: url('../assets/background-footer.jpg');
  background-color: brown;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.footer-with-divider {
  overflow: hidden;
  background-image: url("../assets/masks/mask-info-up.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 1rem;
  width: 100%;
}


// MISC
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.flex-image {
  max-width: 100%;
  height: auto;
}