<div class="container section-with-bg-text pt-5">
  <div class="row">

    <div class="col-7 d-flex align-items-center justify-content-center">
      <img src="../../../../assets/tab-image.gif" alt="Your Image" class="img-fluid">
    </div>

    <div class="col-5">
      <div class="d-flex flex-column align-items-start justify-content-center">
        <div class="playfair font2">Beginners Course</div>

        <div class="d-flex align-items-center justify-content-start pt-3">
          <fa-icon class="p-2" [icon]="faClock"></fa-icon>
          <span class="minion">Certificate</span>
        </div>

        <div class="d-flex align-items-center justify-content-start pb-3">
          <fa-icon class="p-2" [icon]="faCalendar"></fa-icon>
          <span class="minion">240 minets</span>
        </div>

        <div class="playfair price pt-1 pb-1">1 500 usd</div>

        <button class="btn btn-dark w-100 btn-lg btn-block intro p-3">Registration</button>

      </div>
    </div>
  </div>
</div>