<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex justify-content-center align-items-center">
        <fa-icon class="padded-4 text-white" [icon]="faBars"></fa-icon>
        <h1 class="intro-rust text-white mb-0">GALLERY</h1>
        <fa-icon class="padded-4 text-white" [icon]="faBars"></fa-icon>
    </div>
    <h6 class="minion text-white mb-0"> You yourself are testing the taste benefits of each method and select the type
        of cooking yourself
    </h6>
</div>

<div class="carousel pt-5 pb-5">
    <p-carousel [value]="products" [numVisible]="5" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="m-2 p-3">
                <div class="mb-3 relative mx-auto">
                    <img [src]="product.url" height="400" [alt]="product.name" class="w-full border-round" />
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>