<div class="container-fluid pb-5">

    <div class="d-flex flex-column justify-content-center align-items-center mt-5 pt-5">
        <div class="app-title">PROFESSIONAL SCHOOL</div>
        <div class="app-title">BARISTA</div>
    </div>

    <div class="d-flex justify-content-center align-items-center wrapper">
        <div class="infoparagraphs text-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </div>
        <div class="infoparagraphs text-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </div>
    </div>

    <div class="wrapper2">
        <table>
            <tbody>
                <tr>
                    <td colspan="3" class="tdintro intro">
                        <div class="navbar navbar-expand-lg navbar-light bg-transparent d-flex flex-row justify-content-center align-items-center flex-wrap">
                            <ul class="navbar-nav d-flex flex-row justify-content-center align-items-center flex-wrap">
                                <li class="nav-item">
                                    <a class="nav-link p4-vw text-white" href="#coffeeProgram">Program</a>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link p4-vw text-white divider">•</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p4-vw text-white" [routerLink]="['/gallery']"
                                        routerLinkActive="active">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link p4-vw text-white divider">•</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p4-vw text-white" [routerLink]="['/reviews']"
                                        routerLinkActive="active">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link p4-vw text-white divider">•</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p4-vw text-white" [routerLink]="['/partners']"
                                        routerLinkActive="active">Partners</a>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link p4-vw text-white divider">•</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p4-vw text-white" [routerLink]="['/contact']"
                                        routerLinkActive="active">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <fa-icon class="fa-icon text-white" [icon]="faPhone"></fa-icon>
                    </td>
                    <td> <fa-icon class="fa-icon text-white" [icon]="faLocationDot"></fa-icon></td>
                    <td> <fa-icon class="fa-icon text-white" [icon]="faEnvelope"></fa-icon></td>
                </tr>
                <tr>
                    <td class="tdintro intro text-white">+38 000 000 000</td>
                    <td class="tdintro intro text-white">Ukraine, 61002</td>
                    <td class="tdintro intro text-white">HELLO&#64;.COM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>